
* {
    margin: 0; 
    padding: 0; 
}

::-moz-selection {
  color: #fff;
  color: rgba(255, 255, 255, 0.85);
  background: #ea4c89;
}

::selection {
  color: #fff;
  color: rgba(255, 255, 255, 0.85);
  background: #ea4c89;
}

a {
    color: #000; 
}

h1, h2, h3, h4, h5 {
    margin: 5px 0; 
}

.sidebar {
    opacity: .1; 
    -webkit-transition-property: opacity; 
    -webkit-transition-duration: .5s;
    -moz-transition-property: opacity; 
    -moz-transition-duration: .5s;
    position: fixed; 
    width: 300px; 
    top: 30px; 
    left: 30px; 
    border-right: 1px solid #DDD; 
    border-bottom: 1px solid #DDD; 
    height: 90%; 
}

.sidebar:hover {
    opacity: 1; 
}

.sidebar-wrap {
    margin: 30px; 
}

.chapt-num {
    color: #AAA; 
}

.chapt-num:after {
    content: "/"; 
    color: #AAA; 
    margin-left: 10px; 
    margin-right: 10px; 
}

.chapt-list h3, .chapt-list h4 {
    font: 500 14px/1.8 inhreit; 
}

.chapt-list h2 {
    font-size: 17px; 
}

.chapt-list ul {
    margin-left: 20px; 
}

.content {
    margin-left: 330px;  
    padding: 50px; 
    width: 600px; 
}

.content p {
    text-indent: 2em; 
}

.content ul {
    list-style: square inside; 
    text-indent: 2em; 
    margin: 0; 
}

.content ol {
    list-style: decimal inside; 
    text-indent: 2em; 
    margin: 0; 
}

.content li ul {
    list-style: square inside; 
    margin-left: 2em; 
}

.content p + pre {
    margin: 10px 0; 
}

.sect-list ul {
    list-style: square inside; 
}

.sn {
    float: right; 
    display: inline; 
    color: #AAA; 
}
